<%= render "shared/header"%>
<div class='main'>

  <div class='top-projects'>
    <div class='latest-project'></div>
    <div class='new-projects'>
      <div class='over-new-projects'>
        <div class='left-project'></div>
        <div class='right-project'></div>
      </div>
      <div class='under-new-projects'>
        <div class='left-project'></div>
        <div class='right-project'></div>
      </div>
    </div>
  </div>
</div>
