/* メイン */

.main {
  background-color: #444444;
  height: 800px;
}
.top-projects {
  height: 450px;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px 0; 
}

/* latest-project */
.latest-project {
  width: 50%;
  height: 100%;
  background-color: aliceblue;
  margin-right: 20px;
  position: relative;
}


.latest-project-img-content {
  height: 75%;
  line-height: 0;
}
.latest-project-img {
  height: 98%;
  width: 100%;
}

.img-under-bar {
  height: 2%;
  background-color: #999999;
}

.latest-project-detail-content {
  height: calc(25% - 10px);
  position: relative;
}

.latest-project-title {
  height: 15%;
  width: 100%;
  color: black;
  font-weight: bold;
  font-size: 2vw;
  margin-top: 10px;
}

.latest-project-donation {
  height: 10%;
  width: 100%;
  display: flex;
  color: black;
  position: absolute;
  bottom: 0;
}

.latest-project-donation-outcome {
  position: absolute;
  bottom: 0;
}

/* popular-project */
.popular-projects {
  width: 50%;
  height: 100%;
  background-color: aliceblue;
  line-height: 15px;
  overflow: hidden;
  display: flex;
	flex-wrap: wrap;
}

.popular-projects > a {
  width: 50%;
  height: 50%;
  position: relative;
}

.popular-projects-content {
  width: 100%;
  height: 100%;
}
.popular-project-img-content {
  width: 100%;
  height: 70%;
  line-height: 0;
}

.popular-project-img {
  width: 100%;
  height: 100%;
}

.popular-project-detail-content {
  width: 100%;
  height: 20%;
  margin-top: 10px;
  color: black;
  overflow: hidden;
  
}

.popular-project-title {
  font-weight: bold;
  overflow: hidden;
}

.popular-project-donation {
  height: 10%;
  width: 100%;
  display: flex;
  color: black;
  position: absolute;
  bottom: 0;
}

.popular-project-donation-outcome {
  position: absolute;
  bottom: 0;
}