/* メイン */

.main {
  background-color: #444444;
  height: 800px;
}
.top-projects {
  height: 450px;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px 0; 
}

.latest-project {
  width: 50%;
  height: 100%;
  background-color: aliceblue;
  margin-right: 20px;
  position: relative;
}


.latest-project-img-content {
  height: 75%;
  line-height: 0;
}
.latest-project-img {
  height: 98%;
  width: 100%;
}

.img-under-bar {
  height: 2%;
  background-color: #999999;
}

.latest-project-detail-content {
  height: calc(25% - 10px);
  position: relative;
}

.latest-project-title {
  height: 15%;
  width: 100%;
  color: black;
  font-weight: bold;
  font-size: 2vw;
  margin-top: 10px;
}

.latest-project-donation {
  height: 10%;
  width: 100%;
  display: flex;
  color: black;
  position: absolute;
  bottom: 0;
}

.latest-project-donation-outcome {
  position: absolute;
  bottom: 0;
}

.new-projects {
  width: 50%;
  height: 100%;
  background-color: aliceblue;
  position: relative;
}

.over-new-projects {
  width: 100%;
  height: 48%;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.under-new-projects {
  width: 100%;
  height: 48%;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}

.left-project {
  width: 50%;
  height: 100%;
  background-color: aqua;
  margin: 0 10px 20px 0;
}

.right-project {
  width: 50%;
  height: 100%;
  background-color: aqua;
  margin: 0 0 20px 10px;
}